<%= form_for(@page, :html => { :multipart => true }) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :slug, "Slug: " %>
    <%= f.text_field :slug, :maxlength => 24 %><br />

    <%= f.label :title, "Title: " %>
    <%= f.text_field :title %><br />

    <%= f.label :subtitle, "Subtitle: " %>
    <%= f.text_field :subtitle %><br />

    <%= f.file_field :cover_photo %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
