<% content_for :title do %><%= @page.title %><% end %>
<% content_for :description do %><%= @page.subtitle %><% end %>

<% if signed_in? %>
<div id="account-menu">
  <ul class="unstyled">
      <li><a href="#" rel="tooltip" id="edit-header" data-placement="left" data-original-title="Edit header"><i class="icon-edit"></i></a></li>
      <li><a href="#" rel="tooltip" id="save-link" data-placement="left" data-original-title="Save page"><i class="icon-save"></i></a></li>
      <li><a href="<%= pages_path %>" rel="tooltip" data-placement="left" data-original-title="Manage pages"><i class="icon-file"></i></a></li>
      <li><a href="<%= destroy_user_session_url() %>" rel="tooltip" data-placement="left" data-original-title="Logout"><i class="icon-off"></i></a></li>
  </ul>
    <% unless params[:action] != "new" or signed_in? %>
      <%= form_for @user, :url => '' do |f| %>
        <p><%= f.email_field :email, :placeholder => 'email@example.com' %></p>
        <p><%= f.password_field :password, :placeholder => '********' %></p>
        <p><%= f.submit "Login or Sign up" %></p>
      <% end %>
    <% end %>
</div>

<div id="gradient-editor">
  <input type='text' id="gradient-left-color" />
  <input type='text' id="gradient-right-color" />
</div>
<% end %>

<header class="jumbotron subhead" id="overview" data-slug="<%= @page.slug %>" data-gradient-left="<%= @page.gradient_left %>" data-gradient-right="<%= @page.gradient_right %>">
  <div class="container">
    <h1 class="<%= "editable" if signed_in? %>"><%= @page.title %></h1>
    <p class="lead <%= "editable" if signed_in? %>"><%= @page.subtitle %></p>
  </div>
</header>

<div id="page" class="container">
  <div class="row">
    <div class="span3">
      <div class="span3 page-sidebar" data-spy="affix" data-offset-top="220">
        <ul class="nav nav-list page-sidenav section-nav <%= "do-draggable" if signed_in? %>">
          <% @page.sections.each_with_index do |section, section_index| %>
            <li>
              <% if signed_in? %><div class="remove-section"><b class="icon-remove"></b></div><% end %>
              <a href="#section-<%= section_index %>">
                <i class="icon-chevron-right"></i> <span><%= section.title %></span>
              </a>
            </li>
          <% end %>
        </ul>
        <% if signed_in? %>
          <ul class="nav nav-list page-sidenav">
            <li class="add-section">
              <a href="#">
                <i class="icon-plus"></i> Add Section
              </a>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="span9" id="section-container">
      <% @page.sections.each_with_index do |section, section_index| %>
        <section id="section-<%= section_index %>" data-id="<%= section.id %>">
          <div class="page-header">
            <h2 class="<%= "editable" if signed_in? %>" data-target="section-<%= section_index %>"><%= section.title %></h2>
          </div>
          <p class="lead <%= "editable" if signed_in? %>">
            <%= section.content %>
          </p>
        </section>
      <% end %>
    </div>
  </div>
</div>
