<div id="account-menu">
  <ul class="nav nav-pills nav-stacked">
    <% if signed_in? %>
      <li><%= link_to 'Save this Page!', '#', :id => "save-link" %></li>
      <li><%= link_to 'Manage your Pages', :pages %></li>
      <li><%= link_to 'Logout', :destroy_user_session %></li>
    <% else %>
      <li><%= link_to 'Sign In', :new_user_session %></li>
    <% end %>
  </ul>
  <br>
  
  <div id="gradient-editor">
    <input type='text' id="gradient-left-color" />
    <input type='text' id="gradient-right-color" />
  </div>
</div>

<header class="jumbotron subhead" id="overview" data-slug="<%= @page.slug %>" data-gradient-left="<%= @page.gradient_left %>" data-gradient-right="<%= @page.gradient_right %>">
  <div class="container">
    <h1 class="editable"><%= @page.title %></h1>
    <p class="lead editable"><%= @page.subtitle %></p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span3 page-sidebar">
      <ul class="nav nav-list page-sidenav span3" data-spy="affix" data-offset-top="220">
        <% @page.sections.each_with_index do |section, section_index| %>
          <li>
            <a href="#section-<%= section_index %>">
              <i class="icon-chevron-right"></i> <%= section.title %>
            </a>
          </li>
        <% end %>
        <li class="add-section">
          <a href="#section-<%= @page.sections.size %>">
            <i class="icon-plus"></i> Add Section
          </a>
        </li>
      </ul>
    </div>
    <div class="span9" id="section-container">
      <% @page.sections.each_with_index do |section, section_index| %>
        <section id="section-<%= section_index %>" data-id="<%= section.id %>">
          <div class="page-header">
            <h2 class="editable"><%= section.title %></h2>
          </div>
          <p class="lead editable">
            <%= section.content %>
          </p>
        </section>
      <% end %>
    </div>
  </div>
</div>
