<header class="jumbotron subhead" id="overview">
  <div id="account-menu">
    <ul>
      <% if signed_in? %>
        <li><%= link_to 'Manage your Pages', :pages %></li>
        <li><%= link_to 'Logout', :destroy_user_session %></li>
      <% else %>
        <li><%= link_to 'Sign In', :new_user_session %></li>
      <% end %>
    </ul>
    <br>
    
    <div id="gradient-editor">
      <input type='text' id="gradient-left-color" />
      <input type='text' id="gradient-right-color" />
    </div>
  </div>

  <div class="container">
    <h1 class="editable"><%= @page.title %></h1>
    <p class="lead editable"><%= @page.subtitle %></p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span3 page-sidebar">
      <ul class="nav nav-list page-sidenav" data-spy="affix" data-offset-top="220">
        <% @page.sections.each_with_index do |section, section_index| %>
          <li>
            <a href="#section-<%= section_index %>">
              <i class="icon-chevron-right"></i> <%= section.title %>
            </a>
          </li>
        <% end %>
        <li class="add-section">
          <a href="#section-<%= @page.sections.size %>">
            <i class="icon-plus"></i> Add Section
          </a>
        </li>
      </ul>
    </div>
    <div class="span9">
      <% @page.sections.each_with_index do |section, section_index| %>
        <section id="section-<%= section_index %>">
          <div class="page-header">
            <h1><%= section.title %></h1>
          </div>
          <p class="editable">
            <%= section.content %>
          </p>
        </section>
      <% end %>
    </div>
  </div>
</div>
