<% content_for :title do %><%= @page.title %><% end %>
<% content_for :description do %><%= @page.subtitle %><% end %>

<div id="account-menu">
  <ul class="unstyled">
    <% if signed_in? %>
      <li><a href="#" rel="tooltip" id="edit-header" data-placement="left" data-original-title="Edit header"><i class="icon-cogs"></i></a></li>
      <li><a href="#" rel="tooltip" id="save-link" data-placement="left" data-original-title="Save page"><i class="icon-save"></i></a></li>
      <li><a href="<%= pages_url() %>" rel="tooltip" data-placement="left" data-original-title="Manage pages"><i class="icon-file"></i></a></li>
      <li><a href="<%= destroy_user_session_url() %>" rel="tooltip" data-placement="left" data-original-title="Logout"><i class="icon-off"></i></a></li>
    <% else %>
      <li><a href="#" rel="tooltip" id="edit-header" data-placement="left" data-original-title="Edit header"><i class="icon-cogs"></i></a></li>
      <li><a href="#modal-login" rel="tooltip" data-placement="left" data-original-title="Save page" data-toggle="modal"><i class="icon-save"></i></a></li>
    <% end %>
  </ul>
</div>

<div id="gradient-editor">
  <input type='text' id="gradient-left-color" />
  <input type='text' id="gradient-right-color" />
</div>


<header class="jumbotron subhead" id="overview" data-slug="<%= @page.slug %>" data-gradient-left="<%= @page.gradient_left %>" data-gradient-right="<%= @page.gradient_right %>">
  <div class="container">
    <h1 class="editable"><%= @page.title %></h1>
    <p class="lead editable"><%= @page.subtitle %></p>
  </div>
</header>

<div id="page" class="container">
  <div class="row">
    <div class="span3">
      <div class="span3 page-sidebar" data-spy="affix" data-offset-top="220">
        <ul class="nav nav-list page-sidenav section-nav">
          <% @page.sections.each_with_index do |section, section_index| %>
            <li>
              <div class="remove-section"><b class="icon-remove"></b></div>
              <a href="#section-<%= section_index %>">
                <i class="icon-chevron-right"></i> <%= section.title %>
              </a>
            </li>
          <% end %>
        </ul>
        <ul class="nav nav-list page-sidenav">
          <li class="add-section">
            <a href="#section-<%= @page.sections.size %>">
              <i class="icon-plus"></i> Add Section
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="span9" id="section-container">
      <% @page.sections.each_with_index do |section, section_index| %>
        <section id="section-<%= section_index %>" data-id="<%= section.id %>">
          <div class="page-header">
            <h2 class="editable"><%= section.title %></h2>
          </div>
          <p class="lead editable">
            <%= section.content %>
          </p>
        </section>
      <% end %>
    </div>
  </div>
</div>

<% unless signed_in? %>
  <div id="modal-login" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Sign up or Login <small>to save your page</small></h3>
    </div>
    <div class="modal-body">
      <%= form_for @user, {:url => '', :html => {:class => 'new_user form-horizontal'}} do |f| %>
        <div class="control-group">
          <label class="control-label" for="user_email">Email</label>
          <div class="controls">
            <%= f.email_field :email, :placeholder => 'email@example.com' %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="user_password">Password</label>
          <div class="controls">
            <%= f.password_field :password, :placeholder => '********' %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Login or Sign up", :class => 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>